{{define "equipment"}}

<div class="container mt-5">
    <h4 class="mr-0">Equipment</h4>
    <div class="row">
        <div class="col-md-1 ml-auto">
            <p class="minimal-margin">Kategorie</p>
        </div>
        <div class="col-md-2 text-lg-right">
            <p class="minimal-margin">Sortieren nach:</p>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-md-3 offset-md-7">
            <div class="row">
                <input class="search-bar" id="input1" type="text" placeholder="Suche">
                <select class="form-control selectBox search-bar">
                    <option>Alle</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                </select>
            </div>
        </div>
        <div class="col-md-2 offset-0">
            <select class="form-control">
                <option></option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
            </select>
        </div>

    </div>
    
    <div class="row mt-5">

        <div class="col-md-6">
            <div class="row">

                <div class="col-md-9">

                    <div class="row">
                        <h5 class="">Kamera</h5>
                    </div>

                    <div class="row text-spalte">
                        <p>
                            ****************************************************************************************************************************************</p>
                    </div>

                    <div class="row">
                        <div class="col">
                            <button type="button" class="btn btn-block warenkorb-hinzufuegen red-background"></button>
                        </div>
                        <div class="col text-lg-right red-text">
                            <p>entliehen</p>
                        </div>
                    </div>


                </div>

                <div class="col-md-3">
                    <img class="equipment-image" src="/static/images/x.png">
                </div>

            </div>
            <div class="row">

                <div class="col-md-9">

                    <div class="row">
                        <h5 class="">Kamera</h5>
                    </div>

                    <div class="row text-spalte">
                        <p>
                            ****************************************************************************************************************************************</p>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <button type="button" class="btn red-background"></button>
                        </div>
                        <div class="col-md-6 text-lg-right">
                            <p>3 verf uegbar</p>
                        </div>
                    </div>


                </div>

                <div class="col-md-3">
                    <img class="equipment-image" src="/static/images/x.png">
                </div>

            </div>
            <div class="row">

                <div class="col-md-9">

                    <div class="row">
                        <h5 class="">Kamera</h5>
                    </div>

                    <div class="row text-spalte">
                        <p>
                            ****************************************************************************************************************************************</p>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <button type="button" class="btn red-background "></button>
                        </div>
                        <div class="col-md-6 text-lg-right red-text">
                            <p>entliehen</p>
                        </div>
                    </div>


                </div>

                <div class="col-md-3">
                    <img class="equipment-image" src="/static/images/x.png">
                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="row">

                <div class="col-md-9">

                    <div class="row">
                        <h5 class="">Kamera</h5>
                    </div>

                    <div class="row text-spalte">
                        <p>
                            ****************************************************************************************************************************************</p>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <button type="button" class="btn red-background "></button>
                        </div>
                        <div class="col-md-6 text-lg-right red-text">
                            <p>entliehen</p>
                        </div>
                    </div>


                </div>

                <div class="col-md-3">
                    <img class="equipment-image" src="/static/images/x.png">
                </div>

            </div>
            <div class="row">

                <div class="col-md-9">

                    <div class="row">
                        <h5 class="">Kamera</h5>
                    </div>

                    <div class="row text-spalte">
                        <p>
                            ****************************************************************************************************************************************</p>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <button type="button" class="btn red-background "></button>
                        </div>
                        <div class="col-md-6 text-lg-right red-text">
                            <p>entliehen</p>
                        </div>
                    </div>


                </div>

                <div class="col-md-3">
                    <img class="equipment-image" src="/static/images/x.png">
                </div>

            </div>
            <div class="row">

                <div class="col-md-9">

                    <div class="row">
                        <h5 class="">Kamera</h5>
                    </div>

                    <div class="row text-spalte">
                        <p>
                            ****************************************************************************************************************************************</p>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <button type="button" class="btn red-background "></button>
                        </div>
                        <div class="col-md-6 text-lg-right red-text">
                            <p>vorgemerkt</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <img class="equipment-image" src="/static/images/x.png">
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}