{{define "header"}}
<div class="container-fluid">
    <div class="d-flex flex-row align-items-baseline">
        <div class="p-2 title">
            <a class="title" href="layout.html">{{.Title}}</a>
        </div>
        <div class="p-2 menu-item">
            <a href="equipment.html">{{.Item1}}</a>
        </div>
        {{if .Item2}}
        <div class ="p-2 menu-item separator">
            |
        </div>
        {{end}}
        <div class="p-2 menu-item">
            <a href="login.html">{{.Item2}}</a>
        </div>
        {{if .Item3}}
            <div class ="p-2 menu-item separator">
                |
            </div>
        {{end}}
        {{if .Basket}}
            <div class="p-2 align-self-baseline">
                <i class="fas fa-shopping-cart fa-lg"></i>
            </div>
        {{end}}
        {{if .EmptySide}}
        {{else}}
            {{if .Profil}}
                <div class="p-2 ml-auto align-self-center">
                    <div class="p-2">
                        <a href="profil_bearbeiten.html">{{.Name}}</a>
                        <p class="text-right user">{{.Type}}</p>
                    </div>
                </div>
                <div class="p-2 ml-0 align-self-center user-icon">
                    <a href="profil_bearbeiten.html"><i class="fas fa-user-circle fa-lg"></i></a>
                </div>
            {{else}}
                <div class="p-2 ml-auto align-self-center user-icon">
                    <a href="warenkorb.html"><i class="fas fa-shopping-cart fa-lg"></i></a>
                </div>
            {{end}}
    {{end}}
    </div>
</div>

{{end}}
<!--
<div class="container-fluid">
    <div class="d-flex flex-row">
        <div class="p-2 title align-self-baseline">
            <a class="title" href="layout.html">{{.Title}}</a>
        </div>
        <div class="p-2 menu-item align-self-baseline">
            <a href="equipment.html">{{.Item1}}</a>
        </div>
        <div class ="p-2 menu-item separator align-self-baseline">
            |
        </div>
        <div class="p-2 menu-item align-self-baseline">
            <a href="kunden.html">{{.Item2}}</a>
        </div>
        <div class ="p-2 menu-item separator align-self-baseline">
            |
        </div>
        <div class="p-2 menu-item align-self-baseline">
            <a href="#">{{.Item3}}</a>
        </div>
    {{if .Profil}}
        <div class="p-2 ml-0 align-self-center user-icon">
            <a href="profil_bearbeiten.html"><i class="fas fa-user-circle fa-lg"></i></a>
        </div>
    {{else}}
        <div class="p-2 ml-0 align-self-center user-icon">
            <a href="warenkorb.html"><i class="fas fa-shopping-cart fa-lg"></i></a>
        </div>
    {{end}}
    </div>
</div>
-->