{{ define "header"}}

<div class="container-fluid">
    <div class="d-flex flex-row">
        <div class="p-2 title align-self-baseline">
            <a class="title" href="index.html">borgdir.media</a>
        </div>
        <div class="p-2 menu-item align-self-baseline">
            <a href="equipment.html">Equipment</a>
        </div>
        <div class ="p-2 menu-item separator align-self-baseline">
            |
        </div>
        <div class="p-2 menu-item align-self-baseline">
            <a href="kunden.html">Kunden</a>
        </div>
        <div class ="p-2 menu-item separator align-self-baseline">
            |
        </div>
        <div class="p-2 menu-item align-self-baseline">
            <a href="#">Logout</a>
        </div>
        <div class="p-2 ml-auto align-self-center">
            <div class="p-2">
                <a href="profil_bearbeiten.html">Peter Müller</a>
                <p class="text-right user">Verleiher</p>
            </div>
        </div>
        <div class="p-2 ml-0 align-self-center user-icon">
            <a href="profil_bearbeiten.html"><i class="fas fa-user-circle fa-lg"></i></a>
        </div>
    </div>
</div>

{{ end }}