<!doctype html>
<html lang="en">
    <head>
        <!-- META TAGS -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- BOOTSTRAP CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

        <!-- CUSTOM CSS -->
        <link rel="stylesheet" href="../static/css/index.css">
        <link rel="stylesheet" href="../static/css/carousel.css">
        <link rel="stylesheet" href="../static/css/fontawesome-all.css">

        <title>borgdir.media - Kunden Bearbeiten</title>

    </head>
    <body>
        <!-- MENÜ BAR -->
        <div class="container-fluid">
            <div class="d-flex flex-row">
                <div class="p-2 title align-self-baseline">
                    <a class="title" href="layout.html">borgdir.media</a>
                </div>
                <div class="p-2 menu-item align-self-baseline">
                    <a href="equipment.html">Equipment</a>
                </div>
                <div class ="p-2 menu-item separator align-self-baseline">
                    |
                </div>
                <div class="p-2 menu-item align-self-baseline">
                    <a href="kunden.html">Kunden</a>
                </div>
                <div class ="p-2 menu-item separator align-self-baseline">
                    |
                </div>
                <div class="p-2 menu-item align-self-baseline">
                    <a href="#">Logout</a>
                </div>
                <div class="p-2 ml-auto align-self-center">
                    <div class="p-2">
                        <a href="profil_bearbeiten.html">Peter Müller</a>
                        <p class="text-right user">Verleiher</p>
                    </div>
                </div>
                <div class="p-2 ml-0 align-self-center user-icon">
                    <a href="profil_bearbeiten.html"><i class="fas fa-user-circle fa-lg"></i></a>
                </div>
            </div>
        </div>
        <!-- CONTENT -->
        <div class="container my-3">
            <div class="row">
                <div class="col menu-item">
                    Profil bearbeiten
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    Kunden-ID:: <span class="user">73-1456</span> |
                    Status: <span class="active">aktiv</span>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6"   >
                            <div class="form-group">
                                <label for="user">Benutzername:</label>
                                <input type="text" class="form-control" id="user">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6"   >
                            <div class="form-group">
                                <label for="mail">E-Mail:</label>
                                <input type="text" class="form-control" id="mail">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6"   >
                            <div class="form-group">
                                <label for="npsw">Neues Passwort:</label>
                                <input type="password" class="form-control" id="npsw">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6"   >
                            <div class="form-group">
                                <label for="npsw">Neues Passwort wiederholen:</label>
                                <input type="password" class="form-control" id="npsw">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <form action="#"> <input type="submit" class="btn button-startpage" value="Änderungen Speichern" /></form>
                        </div>
                        <div class="col">
                            <form action="#"> <input type="submit" class="btn button-loeschen" value="Konto Sperren" /></form>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 text-right">
                    <div class="d-flex flex-column">
                        Profilbild
                    </div>
                    <div class="d-flex flex-column">
                        <img class="img-fluid" src="//placehold.it/600x400?text=Profilbild" alt="profilbild">
                    </div>
                    <div class="d-flex flex-column my-2 text-right">
                        <form action="#"> <input type="submit" class="btn button-startpage" value="Profilbild ändern" /></form>
                    </div>
                </div>
            </div>
        </div>

        <!-- JQUERY AND JAVASCRIPT -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
        <!-- CUSTOM JS -->
        <script src="../static/js/index.js"></script>
    </body>
</html>