{{ define "layout"}}

<html lang="en">
<head>
    <!-- META TAGS -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="./static/css/index.css">
    <link rel="stylesheet" href="./static/css/carousel.css">
    <link rel="stylesheet" href="./static/css/fontawesome-all.css">

    <title>borgdir.media - Startseite</title>

</head>
<body>
{{ template "header"}}
</body>
</html>

{{  end }}