<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>borgdir.media - Login</title>

        <!-- BOOTSTRAP CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

        <!-- CUSTOM CSS -->
        <link rel="stylesheet" href="../static/css/index.css">
    </head>
    <body>
        <!-- MENÜ BAR -->
        <div class="container-fluid">
            <div class="d-flex flex-row align-items-baseline">
                <div class="p-2 title">
                    <a class="title" href="layout.html">borgdir.media</a>
                </div>
                <div class="p-2 menu-item">
                    <a href="equipment.html">Equipment</a>
                </div>
                <div class ="p-2 menu-item separator">
                    |
                </div>
                <div class="p-2 menu-item">
                    <a href="login.html">Login</a>
                </div>
            </div>
        </div>
        <!-- MID CONTENT -->
        <div class="container mid-content">
            <div class="row text-center">
                <div class="col big-bold-text">
                    Login
                </div>
            </div>
            <div class="row justify-content-center mt-2">
                <div class="col-md-6"   >
                    <div class="form-group text-left">
                        <label for="user">Benutzername:</label>
                        <input type="text" class="form-control" id="user">
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6"   >
                    <div class="form-group text-left">
                        <label for="psw">Passwort:</label>
                        <input type="password" class="form-control" id="psw">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col text-center py-4">
                    <form action="#"><input type="submit" class="btn button-startpage" value="Anmelden" /></form>
                </div>
            </div>
        </div>

    <!-- JQUERY AND JAVASCRIPT -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <!-- CUSTOM JS -->
    </body>
</html>