body {
    font-family: "Arial";
}

a:link {
    color: #000000;
    text-decoration: none;
}
a:visited {
    color: #000000;
}
a:hover {
    color: #ff6448;
}
a:active {
    color: #ff6448;
}

.title {
    color: #ff6448;
    font-size: 50px;
}

a.title:link {
    color: #ff6448;
}

.menu-item {
    font-size: 20px;
}

.separator {
    font-weight: bolder;
}

.mid-content {
    margin-top: 5%;
    text-align: center;
}

.big-bold-text {
    font-weight: bold;
    font-size: 20px;
}

.button-startpage {
    color: #ffffff;
    background: #ff6448;
    border-radius: 15px;
}
.background {
    background: gray;
}



