.bottom-border {
    border-bottom-style: solid;
    border-width: 1pt;
    padding-bottom: 0%;
}

img {
    max-width: 80%;
}

.text-spalte {
    word-break: break-all;
    display: inline-block
}

i {
    width: 1em;
    height: 1em;
    display: block;
    cursor: pointer;
}

.red-text {
    color: #ff6246;
}

.red-background {
    background-color: #ff6246;
}

.small-text {
    font-size: small;
}

.cursiv-text {
    font-style: italic;
}

.semi-bold-text {
    font-weight: lighter;
}

.bold-text {
    font-weight: bold;
}

.bold-medium-text {
    font-weight: bolder;
    font-size: medium;
}

.trash-button {
    border-radius: 20px;
    padding: 0px;
    height: 50%;
    width: 40%;
}

.ausleihen-button {
    border-radius: 80px;
    width: 70%;
    margin-left: 15%;
    color: white;
    font-weight: bold;
    border-bottom-style: solid;
    border-width: 1pt;
    border-color: #0b2e13;
}

.equipment-row {
    margin-top: 1%;
    margin-bottom: 1%;
}

.centered-text
{
    text-align: center;
}

.minimal-margin
{
    margin:0%;
}

.select-dropdown
{
    width: 40%;
    margin-left: 40%;
}

.equipment-image
{
    border-style: solid;
    border-width: 1pt;
    margin: 3%;
    padding: 3%;
}

.vertical-label-center
{
    padding-top: 10%;
}

.equipment-label p
{
    padding-top: 5%;
}

button.red-background
{
    width: 30%;
    height: 25%;
}

.entferne-button
{
    margin-left: 35%;
}